<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Bookworm</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>BOOKWORM</h1>
        </div>
        <div class="liner" style="right:0px"></div>
        <div class="liner" style="left:0px"></div>

        <div style="background-color: Gray; height: 28px; top:150px; position: absolute; width:100%; font-size: 15px; text-align:right; padding-top:2px">
            <div>
                <a href="/" style="margin-left:60px; margin-top:8px;"> Home</a>
                <a href="/login" style="margin-left:60px; margin-top:8px;">Log in</a>
                <a href="/create" style="margin-right: 150px; margin-left:60px; margin-top:12px;">Create account</a>
            </div>
        </div>


       <div class="box" style="padding-top:110px;">
            <p style="font-size: 25px; color:#262324;">Reset Password</p>

                {% if state=="2" or state=="2_False" %}
                <p style="color:red;">
                    {{message}}
                </p>
                <form action="/reset" method="post">
                <input name="resend" type="hidden" value="true">
                <input type="submit" value="Resend Verification Code" class="box3">
                </form>
                <form action="/reset" method="post">
                <p>Verification code</p>
                <input type="text" id="verification code" autocomplete="off" name="verification code" class="box2">
                <p>New Password</p>
                <input type="password" id="password" name="password" autocomplete="off" class="box2">
                <ul style="color: #802324; font-size: 15px;">
                    <li>Atleast 8 characters long</li><li>Must include either $ or # or !</li><li>Must have a digit</li><li>Must have one alphabet letter</li>
                </ul>
                <p><input type="submit" value="Reset" class= "box3" style= "width: 70px;"></p>
                {% else %}
                    {% if state=="e_False" %}
                    <p style="color:red;">
                        {{message}}
                    </p>
                    {% endif %}
                    <p>Email address</p>
                    <input type="text" id="email" autocomplete="off" name="email" class="box2">
                    <p><input type="submit" value="Send" class= "box3" style= "width: 70px;"></p>
                {% endif %}
                </form>
        </div>
        <div class="bottom"><p style="margin-left: 60px; margin-top: 15px;">For any queries, contact: wormbook081@gmail.com</p></div>
    </body>
</html>
